@charset "utf-8";
@import "bulma/bulma.sass";

$pink: #fc5f6e;
$blue: #50b3dc;
$green: #01ac53;
$grey: #707070;

.button {
  border-radius: 0;

  &.is-pink {
    border-color: darken($pink, 20);
    background: $pink top right
      url("../../static/assets/background/pattern.jpg");
    background-size: cover;
    color: $white;
  }
  &.is-blue {
    border-color: darken($blue, 10);
    background: $blue top right url("../../static/assets/background/azul.jpg");
    background-size: cover;
    color: $white;
  }
  &.is-green {
    border-color: darken($green, 10);
    background: $green top right url("../../static/assets/background/green.jpg");
    background-size: cover;
    color: $white;
  }
  &:hover,
  :focus {
    color: $white;
  }
}
p {
  b {
    font-size: $size-5;
  }
}
.is-pink {
  color: $pink;
}
.is-blue {
  color: $blue;
}
.is-green {
  color: $green;
}
.is-grey {
  color: $grey;
}

.is-modak {
  font-family: Modak;
}

.sectionPage {
  padding: 0;
  .container {
    @include from($tablet) {
      max-width: none;
      width: 100%;
    }
  }
  header.headerSplash {
    background-color: $white;
    background-position: bottom left;
    background-size: cover;
    background-repeat: repeat-x;
    padding: $section-padding;
    min-height: 30rem;
    position: relative;
    @include from($tablet) {
      background-position: top right;
      background-size: auto;
    }
    &.headerHomepage {
      background-image: url("../../static/assets/background/pink.jpg");
      padding-bottom: 200px;
      @include from($tablet) {
        background-image: url("../../static/assets/background/desktop-pink.jpg");
      }
    }
    &.headerBiopage {
      background-image: url("../../static/assets/background/azul.jpg");
      @include from($tablet) {
        padding-bottom: 350px;
        background-image: url("../../static/assets/background/desktop-azul2.jpg");
      }
    }
    &.headerProjectpage {
      background-image: url("../../static/assets/background/green.jpg");
      @include from($tablet) {
        padding-bottom: 300px;
        background-image: url("../../static/assets/background/desktop-green2.jpg");
      }
    }

    .linkToBio {
      color: $white;
      font-size: $size-6;
    }
    .linkToHome {
      margin: 20px 0;
    }
    .title {
      color: $white;
      &.titleFatTypo {
        font-size: 4rem;
        font-weight: normal;
        position: relative;
        z-index: 1;
        &.is-absolute {
          position: absolute;
          z-index: 0;
          top: 0;
          margin-top: 5px;
          padding: 3rem 0;
          color: #8d121e;
          animation: shake 20s ease-in-out infinite;
          &.is-pink {
            color: darken($color: $pink, $amount: 30);
          }
          &.is-blue {
            color: darken($color: $blue, $amount: 30);
          }
          &.is-green {
            color: darken($color: $green, $amount: 10);
          }
        }
      }
      &.titleAboutMe {
        font-weight: $weight-normal;
        margin-top: 2rem;
        font-size: $size-3;
        margin-bottom: 0.5rem;
        small {
          display: block;
          font-size: $size-4;
          font-weight: inherrit;
        }
      }
    }
  }

  .sectionTitle {
    font-weight: $weight-light;
    color: $grey;
    margin-bottom: 1rem;
  }

  .columnContent {
    padding: 1rem 1.5rem;
    p {
      font-weight: $weight-normal;
    }
    @include from($tablet) {
      margin: 0;
    }
  }

  .availability {
    background: $pink top right
      url("../../static/assets/background/pattern.jpg");
    background-size: auto;
    margin: -0.75rem;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 20px;
    padding-left: 50px;
    color: $white;
    @include from($tablet) {
      margin: 0;
      margin-top: 1rem;
    }
    &:before {
      content: " ";
      display: block;
      position: absolute;
      margin: 10px -25px;
      width: 8px;
      height: 8px;
      background: $white;
      border-radius: 5px;
    }
    .title {
      font-size: $size-5;
      color: inherit;
      margin-bottom: 0;
    }
    a {
      color: $white;
    }
  }

  .presentation {
    p {
      margin-top: 10px;
    }
    ul {
      margin: 25px 0 20px 0;
      font-family: "Courier New", Courier, monospace;
      font-size: $size-6;
      li {
        margin: 30px 0 0 30px;
        span.emoji-list {
          position: absolute;
          margin-left: -30px;
        }
        p b {
          font-size: $size-6;
          color: $pink;
        }
      }
    }
  }

  .production {
    padding-bottom: 0;
  }
  .location {
    padding-top: 0;
  }

  .projectContainer {
    position: relative;
    margin: 2rem 0;
    margin-bottom: 0;
   
    .projectContainerText {
      position: absolute;
      z-index: 5;
      padding: 20px 10px;
      .projectTitle {
        color: $white;
        font-weight: $weight-light;
        margin-bottom: 1rem;
      }
      .tags {
        margin-bottom: 0.3rem;
      }
      .projectDate {
        font-size: $size-7;
        color: $white;
      }
    }
  }
  .profilePic {
    display: block;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: auto;
    border: solid 5px $white;
    @include from($tablet) {
      margin: 10px 0;
    }
  }
  &.blogLayout {
    .hero {
      border-color: darken($pink, 20);
      background: $pink top right
        url("../../static/assets/background/pattern.jpg");
      background-size: initial;
      color: $white;
      .hero-body {
        background: rgba(darken($pink, 2), 0.5);
      }
      h1,
      h2 {
        text-align: center;
        color: inherit;
      }
    }
    .blogHeader {
      display: flex;
      height: 100%;
      h2.title {
        align-self: center;
      }
    }
    .section {
      padding: 2rem 1.5rem;
    }
    .blogTypeList {
      @include from($tablet) {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
    }
    .blogTitle {
      @extend .hero;
      width: max-content;
      padding: 10px 15px;
    }
    .blogText {
      b {
        font-size: $size-6;
        font-weight: $weight-semibold;
        color: $pink;
      }
      &.less_important {
        color: lighten($text, 20);
        cursor: pointer;
      }
    }
    .readMore {
      cursor: pointer;
      padding: 20px 0;
      width: max-content;
    }
  }
}

article.projectDescription {
  ul {
    margin-left: 15px;
    list-style: none;
  }
  h1 {
    @extend .sectionTitle;
    @extend .title;
    @extend .is-4;
    margin-top: 20px;
  }
  h2 {
    @extend .sectionTitle;
    @extend .title;
    @extend .is-5;
    margin-top: 20px;
  }
}

footer.footer {
  background: none;
  padding: $section-padding;

  .title {
    font-weight: $weight-light;
    &.is-pink {
      color: $pink;
    }
  }
}

@keyframes shake {
  10%,
  30% {
    transform: translate3d(-5px, -5px, 0);
  }

  20%,
  70% {
    transform: translate3d(8px, -4px, 0);
  }

  40%,
  90% {
    transform: translate3d(-4px, 2px, 0);
  }

  60% {
    transform: translate3d(4px, 0, 0);
  }
  80% {
    transform: translate3d(-6px, -8px, 0);
  }
  100%,
  50%,
  0% {
    transform: translate3d(6px, 0px, 0);
  }
}
